<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset</title>
</head>
<body>
    <form action="/reset" method="POST">
        <label for="username">username</label>
        <input type="text" id="username" name="username"/>

        <label for="pword1">Enter old password</label>
        <input type="password" name="password" id="pword1">

        <label for="pword">Enter new password</label>
        <input type="password" name="new_password" id="pword">
        <button type="submit">Reset password</button>
    </form>
</body>
</html>