<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/signup" method="post">

        <input type="text" placeholder="enter your username" name="username"> 
        <input type="text" placeholder="enter your fullname" name="fullname"></br></br>
        <input type="email" placeholder="enter your email" name="email"></br></br>
        <input type="text" placeholder="enter your phone number" name="phone"></br></br>
        <input type="date" placeholder="enter your date of birth" name="dob"></br></br>
        <input type="password" placeholder="enter a password" name="password"></br></br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>